* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  background-color: black;
}

.logo {
  margin-right: auto;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.right li a {
  text-decoration: none;
  color: white;
}

.right {
  list-style: none;
}

.right li {
  display: inline-block;
  padding: 10px;
}

.right li a:hover {
  color: #a53333;
  text-decoration: underline;
}

.tab{
  padding: 20px;
}

.tab ul{
  display: flex;
  list-style: none;
}

.tab li{
  padding: 20px;

}

.tab ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.tab ul li a:hover{
  text-decoration: underline;
  color: #a53333;
}

a:is(:link, :active, :visited).active{
  color:#a53333;
}

.container1,
.container2{
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
}

.product1 {
  background-color: black;
  width: 25%;
  height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.product1 h3 {
  padding-top: 25px;
  padding-bottom: 15px;
  color: white;
}

.desc {
  color: black;
}

.desc1 {
  color: white;
}

.product h3 {
  padding-top: 25px;
  padding-bottom: 15px;
  color: black;
}

.product {
  background-color: #842626;
  width: 25%;
  height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.price {
  color: black;
  padding: 2px 8px;
  background-color: white;
  margin-top: 20px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

.sushi {
  display: flex;
}

.show_sushi{
  background-color: #842626;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.sushi_desc {
  text-align: center;
  padding: 50px;
  color: white;
}

.sushi_desc p {
  background-color: black;
  color: white;
  border-radius: 30px;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px; 
  font-weight: bold;
}

.up{
  display: flex;
  align-items: center;
}

.bottom{
  display: flex;
  align-items: center;
}

.show_drink {
  background-color: #842626;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.drink_desc{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  margin-top:auto;
}

.drink_desc h3 {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.drink_desc p {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 1px 15px;
  font-weight: bold;
  
}

.footer {
  background-color: black;
  color: white;
  padding: 30px 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sosmed img{
  padding: 5px;
}

.middle {
  max-width: 750px;
}

.middle p {
  text-align: center;
}

@media (max-width: 700px){
  .header{
    height: 99px;
    padding: 30px;
  }
  nav .right{
    display: grid;
    position:absolute;
    background-color: black;
    width: 100%;
    top: 99px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
  }

  nav .right li:hover,
  nav .right li:hover a {
    background-color: #a53333;
    color:white;
  }

  nav .right li a{
    padding-left: 20px;
  }

  .container1{
    display: flex;
    flex-direction: column;
  }

  .container2{
    display: flex;
    flex-direction: column-reverse;
  }

  .sushi .show_sushi{
    width: 100%;
  }
  .show_sushi .sushi_desc{
    width: 33.33%;
    padding: 20px;
  }

  .show_drink .up,
  .show_drink .bottom{
    display: flex;
    flex-direction: column;
  }

  .product,
  .product1{
    width: 100%;
  }

  .sushi{
    flex-direction: column;
  }

  .navbar-toggle{
    display: grid !important;
  }

  .footer{
    display: grid;
    justify-content: center;
  }

  .footer .middle{
    margin: 40px 0;
  }

  .footer .right{
    display: grid;
    justify-content: center;
  }
}

.navbar-toggle{
  display: none;
  height: min-content;
  margin: 5px -10px 0 10px;
  cursor: pointer;
}

.navbar-toggle .bar{
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background:white;
  border: 10%;
  transition: .4s;
}

#toggle{
  display: none;
}

#toggle:checked ~ * .right{
  transform: translateY(0);
  z-index: 1;
}

#toggle:checked ~ * .navbar-toggle {
  margin-top: 35px;
}

#toggle:checked ~ * .navbar-toggle .bar:nth-child(1){
  position: absolute;
  transform: rotate(45deg);
  background-color: #a53333;
}

#toggle:checked ~ * .navbar-toggle .bar:nth-child(2){
  display: none;
}

#toggle:checked ~ * .navbar-toggle .bar:nth-child(3){
  transform: rotate(-45deg);
  background-color: #a53333;
}
